-- Add indexes for better performance
CREATE INDEX IF NOT EXISTS idx_learnsets_species_gen ON learnsets(species_id, generation);
CREATE INDEX IF NOT EXISTS idx_learnsets_move ON learnsets(move_id);
CREATE INDEX IF NOT EXISTS idx_moves_name ON moves(LOWER(name));
CREATE INDEX IF NOT EXISTS idx_pokedex_name ON pokedex(LOWER(name));
CREATE INDEX IF NOT EXISTS idx_pokemons_owner_slot ON pokemons(owner_id, team_slot);

